rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{walletId} {
      allow read: if false;
      allow create: if request.resource.data.address is string
                    && request.resource.data.keys().hasOnly(['address', 'firstSeenAt', 'lastSeenAt', 'connections']);
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['lastSeenAt', 'connections']);
      allow delete: if false;
    }
  }
}
